:root {
    --customQY-primary-color: #0B3B87;
    --customQY-secondary-color: #6c757d;
    --customQY-main-font: 'Poppins', sans-serif;
}

.customQY-chatbot-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: width 0.4s ease-in-out;
   
}

.customQY-active-indicator {
    position: absolute;
    top: 4px;
    right: 10;
    width: 10px;
    height: 10px;
    background-color: #28a745; /* Green color for active status */
    border-radius: 50%;
    /* border: 2px solid white; Border to separate indicator from icon */
}

.customQY-chatbot-icon.open {
    width: 300px;
    height: 70px;
    border-radius: 50px;
    padding-right: 30px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.customQY-icon-image{
    width: 35px;
    height: 35px;
}
.customQY-icon-image-open{
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin-right: 15px;
}
.customQY-header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.customQY-header-static {
    font-size: 15px;
    color: #666;
    font-weight: 600;
    font-family: var(--customQY-main-font);
    animation: 0.2s ease 0.5s 1 normal forwards running bcCCNc;
    transition: color 0.3s ease-out, margin-left 0.3s ease-out;
}
.customQY-header-dynamic {
    font-size: 15px;
    font-weight: 600;
    color: var(--customQY-primary-color);
    font-family: var(--customQY-main-font);
    animation: 0.2s ease 0.5s 1 normal forwards running bcCCNc;
    transition: color 0.3s ease-out, margin-left 0.3s ease-out;  
}
.customQY-header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    width: -webkit-fill-available;
}

.customQY-chatbot {
    position: fixed;
    bottom: 120px;
    right: 30px;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    padding: 20px;
}

.customQY-chatbot.open {
    display: block;
}

/* Typing animation with three dots */
.customQY-typing {
    font-family: var(--customQY-main-font);
    font-size: 0.9em;
    color: #555;
    margin-top: 10px;
    display: flex;
    justify-content:left ;
    gap: 4px; /* Space between dots */
    position: relative;
    animation: fadeIn 0.3s ease-in-out; /* Add fade-in for typing indicator */
}

.customQY-typing .dot {
    width: 6px;
    height: 6px;
    background-color: #555;
    border-radius: 50%;
    animation: wave 1s ease-in-out infinite;
}

.customQY-typing .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.customQY-typing .dot:nth-child(3) {
    animation-delay: 0.4s;
}

/* Wave animation keyframes */
@keyframes wave {
    0%, 60%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    30% {
        transform: translateY(-6px);
        opacity: 0.5;
    }
}

/* Fade in effect */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@keyframes pulse-circle {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5); /* Scale to make the circle expand */
        opacity: 0; /* Fade out as it scales */
    }
}

.customQY-chatbot-icon:not(.open)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 2px solid var(--customQY-primary-color); 
    border-radius: 50px;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
    animation: pulse-circle 1.5s ease-out infinite;
   
}
/* Message Container Positioned Below Header */
.customQY-messages {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 70px); /* Subtract header height */
    overflow-y: auto;
    padding: 15px;
    scrollbar-width: thin;
    scrollbar-color: var(--customQY-primary-color) white;
}

.customQY-message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: black;
}
.customQY-message p{
    font-size: 24px;
    font-family: var(--customQY-main-font);
    font-weight: 600;
    color: #666;
}

.customQY-options {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
   
}

.customQY-button {
    background-color: var(--customQY-primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
    font-family: var(--customQY-main-font);
}

.customQY-button:hover {
    background-color: #0056b3;
}

.close-icon:before {
    content: "\00D7"; /* Unicode for × */
    font-size: 35px;  /* Adjust size */
    color: #999;      /* Set color */
    cursor: pointer;  /* Make it clickable */
    font-weight: 600;
    animation: 0.2s ease 0.5s 1 normal forwards running bcCCNc;
    transition: color 0.3s ease-out, margin-left 0.3s ease-out;
}

.close-icon:hover:before {
    color: #333;   /* Hover color change */
}
.customQY-messages {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: var(--customQY-primary-color) white; 
}

/* .customQY-chatbot.open::-webkit-scrollbar {
    display: none; 
} */
